<h1 class="text-center">Local Weather App</h1>

<div id="description" class="row text-center">Right now:</div>


<div class="row text-center content">
	<div id="city" class="col-md-4"></div>
	<div id="temp" class="col-md-4"></div>
	<div id="windSpeed" class="col-md-4"><i class="wi wi-day-lightning"></i></div>
</div>
