<h1 class="text-center">Local Weather App</h1>

<div class="row text-center" id="for">for</div> 
<div class="row">
	<div clas="row text-center" id="city"></div>
	<div class="row" id="temp"></div>
</div>



<!-- 		 				$('#temp').text(Math.round(temp));
		 				$('#city').text(city);
		 				$('#pressure').text(pressure);
		 				$('#tempHigh').text(tempHigh);
		 				$('#tempLow').text(tempLow);
		 				$('#windSpeed').text(windSpeed);
		 				$('#windDeg').text(windDeg);
		 				$('#description').text(description); -->

<div id="lat"></div>
<div id="long"></div>