<h1 class="text-center">Local Weather App</h1>

<!-- <div id="photo" class=" img img-responsive img-thumbnail"></div> -->

<div id="description" class="row text-center">Right now:</div>


<div class="row text-center content">
	<div id="city" class="col-md-4"></div>
	<div id="temp" class="col-md-4"></div>
	<div id="windSpeed" class="col-md-4"><i class="wi wi-day-lightning"></i></div>
</div>








<!-- 		 				$('#temp').text(Math.round(temp));
		 				$('#city').text(city);
		 				$('#pressure').text(pressure);
		 				$('#tempHigh').text(tempHigh);
		 				$('#tempLow').text(tempLow);
		 				$('#windSpeed').text(windSpeed);
		 				$('#windDeg').text(windDeg);
		 				$('#description').text(description); -->
